
<div class="container wrap">
  <h1 align="center">New Profile</h1>
  <%= render 'form', profile: @profile %>
  <br>
  <div class="col-xs-12">
    <%= link_to 'Back', profiles_path %>
  </div>
</div>
