
<% if @profile.image_data %>
  <div class="profile_img_container">
    <%= image_tag @profile.image_url, class: "profile_img" %>
  </div>
  <% else %>
  <% end %>
  <div class="container">
    <h1 align="center"><%= @profile.first_name %></h1>
      <%= link_to 'Your Courses', '#', id: "bookings-link", class: 'btn btn-lg btn-block courses_btn' %>
    <section id="booking-section">
        <% @paid_bookings.each do |booking| %>
        <%= render 'booking', obj: booking %>
        <% end %>
    </section>
  </div>
