<h1>Hi booking!!</h1>
<% @bookings.each do |booking| %>
  <table class="table table-responsive">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>price</th>
      <th>Action</th>
    </tr>
    <tr>
      <td><%= booking.course_date.date %></td>
      <td><%= booking.course_date.time %></td>
      <td><%= booking.course_date.course.price %></td>
      <td><%= link_to :delete, booking_path(id: booking), method: :delete, 
                                        data: {confirm: "Are you sure you want to delete the article?"}, 
                                        class: "btn btn-danger btn-xs"  %></td>
      <% end %>
    </tr>
  </table>

