<div class="container">
  <h3><%= @course.title %></h3>
</div>
<div class="container">
    <div class="available_dates">    
      <h4>Available Dates</h4>
    </div>
  </div>
</div>
  <%= render 'course_dates/dates', dates: @course.course_dates %>
