<div class="container">
  <h1>all users!!</h1>

  <% @users.each do |user| %>
    <li><%= user.email %></li>
    <%= link_to :delete, destroy_user_path(id: user), class: "btn btn-danger btn-xs", method: :delete %>
  <% end %>