<div class="container all_users">
  <h1 align="center">All users</h1>
  <% @users.each do |user| %>
    <div class="row col-xs-12 user">
      <div class="col-xs-8">
        <li><%= user.email %></li>
      </div>
      <div class="col-xs-4">
          <%= link_to :delete, destroy_user_path(id: user), class: "btn btn-danger btn-xs", method: :delete %>
      </div>
    </div>
  <% end %>
</div>