
<div class="container about_container">
  <div class="col-xs-12">
    <div class="info_icon" align="center">
      <%= info_icon %>
    </div>
  </div>

  <p class="info_copy"> Here at Skillzee our goal is to <strong>connect</strong> people who want to learn, with people who want to teach.
  Skillzee is all about <strong>learning by doing</strong>. Learning in a group
  with other passionate people is just plain <strong>fun!</strong> So pick a course, and learn some new Skillz!  </p>
</div>


