
<div class="container main_wrap">
    <h1 align="center" class="about_title">Learn</h1>
  <div class=" row col-xs-12 about_container">
    <p class="info_copy"> Here at Skillzee our goal is to <strong>connect</strong> people who want to learn, with people who want to teach.
    Skillzee is all about <strong>learning in groups</strong>. Learning with other passionate people is just plain <strong>fun!</strong> So pick a course, and learn some new Skillz!</p>
  </div>
  <div class="divide_line col-xs-12">
  </div>

  <h1 align="center" class="about_title">Teach</h1>
  <div class="row col-xs-12 about_container">
    <p class="info_copy"> Are you someone who has Skillz? Skillzee connects you with thousands of people who want to learn what you have to teach! Get registered, create a course and start teaching people today, its that easy!</p>
  </div>
</div>


