
<div class="container carousel_wrap">
  <h2>Food</h2>
  <%= render 'carousel', categories: @category, category: 'Food' %>
  <h2>Jewellery</h2>
  <%= render 'carousel', categories: @category, category: 'Jewelry' %>
</div>