<div class="container home_main">
  <div class="home_titles">
    <h1 class="brand_title" align="center">Skillzee</h1>
    <h4 class="sub_title" align="center">people teaching people</h4>
  </div>
    <div class="col-sm-offset-2 col-sm-10 home_buttons">
      <li><%= link_to 'Want Skillz', courses_path, class: 'btn btn-lg btn-block btn_1' %></li>
      <li><%= link_to 'Have Skillz', new_course_path, class: 'btn btn-lg btn-block btn_2' %></li>
      <li><%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default btn-lg btn-block btn_3' %></li>
      <li align="center"><%= link_to 'Skillzee?', about_path, class: "about_link" %></li>
    </div>
</div>