<h1 align="center">Skilzee</h1>
<h3 align="center">people teaching people</h3>

<li><%= link_to 'Want Skillz', '#', class: 'btn btn-default btn-lg' %></li>
<li><%= link_to 'Have Skillz', '#', class: 'btn btn-default btn-lg' %></li>
<li><%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default btn-lg' %></li>
<li><%= link_to 'What?', about_path %></li>
