<h1 align="center">Skilzee</h1>
<h3 align="center">people teaching people</h3>
<div class="col-sm-offset-2 col-sm-10">
  <li><%= link_to 'Want Skillz', '#', class: 'btn btn-default btn-lg btn-block' %></li>
  <li><%= link_to 'Have Skillz', '#', class: 'btn btn-default btn-lg btn-block' %></li>
  <li><%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default btn-lg btn-block' %></li>
  <li align="center"><%= link_to 'What?', about_path %></li>
</div>
