<% @courses.each do |c| %>
<%= render 'course', obj: c %>
<div class="map_embed">
<%= render 'map_embed', lat: c.lat, lng: c.lng %>
</div>
<div class="container">
  <h4><%= c.address %></h4>
  <h5><%= c.city %></h5>
</div>
<% end %>