
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "courses";
@import "bookings";
// @import "course_dates"

.home_titles {
  h1 {
  font-size: 5em;
  }
    h4 {
    margin-top: 0px;  
    }
}

.home_main {
  margin-top: 25%;
}

.home_buttons {
  li {
  padding-bottom: 10px;

  }
}

li {
  list-style-type: none;
}

.country_select {
  width: 100px;
}

.map_embed {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.map_embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.course_text_box {
  border-bottom: 1px solid #eaeaea;
  padding: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.available_dates {
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #eaeaea;
}

.available_dates h4 {
  margin-bottom: 0;
  padding-left: 8px;
}

.clock_container {
  i {
    margin-top: 0px;
}
    span {
      vertical-align: super;
    }
}

.attending_dates {
  padding: 0px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.booking_table {
  margin: 0px;
}