// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_booking {
  margin-top: 20%;
}

.available_dates {
  margin: 0px;
  padding: 0px;
}

.basket {
  box-sizing: border-box;
  padding: 4px;
}

.basket_title {
  display: inline-block;
}

.available_title {
  padding-left: 0px;
}

.attending_dates {
  background-color: #91ebf3
}
