// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_container {
    margin-top: 20%;
}

.course_box { 
    border: 1px solid #eaeaea;
    margin: 8px;
    border-radius: 5px;
}

.course_image {
    margin-top: -20px;
}

.book_btn {
    background-color: #01C8D9;
    border: 0px;
    font-size: 16px;
    text-transform: uppercase;
    width: 9rem;
}

.book_btn:hover {
    background-color: #00b4c3;
}

.clock_container {
  i {
    margin-top: 0px;
}
    span {
      vertical-align: super;
    }
}

.clock_container {
    margin-top: 5px;
}

#course_country_code {
    width: 100%;
}