// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_wrap {
  margin-top: 20%;
}

.about_title {
  margin-bottom: 20px;
}

.home_titles {
  margin-bottom: 20%;
}

body.index {
  background-color: #01C8D9;
}

.brand_title {
  font-family: 'Sarala', sans-serif;
  color: #fff;
  margin-bottom: 0px;
}

.sub_title {
  font-family: 'Arial', sans-serif;
}

.home_main {
  .btn_1 {
    border: 1px solid #fff;
    color: #fff;
  }
    .btn_2 {
      border: 1px solid black;
      color: black;
    }
}

.about_container {
  background-color: #01C8D9;
  margin: 0px;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info_copy {
  font-family: 'Arial';
}

.divide_line {
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.carousel_wrap {
  margin-top: 20%;
}

.carousel {
  margin-bottom: 80px;
}

#food_carousel {
  max-width: 530px;
}

.carousel {
  max-width: 530px;
  margin: 0 auto;
}

.about_link {
  color: #fff;
  font-size: 2rem;
}

#category_title_wrapper {
  display: flex;
  justify-content: space-between;
}

.see_all {
  margin-top: 30px;
  font-weight: normal;
}

#category_title_wrapper {
  h2 {
    color: #484848;
  }
  a {
    color: #484848;
  }
}

.carousel_box {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.course-title {
  padding-bottom: 0px;
  bottom: 0px;
}

.title-background-gradient {
  position: absolute;
  height: 20%;
  width: 100%;
  z-index: 1;
  background-color: skyblue;
  top: 80%;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
}