// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_titles {
  margin-bottom: 20%;
}

body.index {
  background-color: #01C8D9;
}

.brand_title {
  font-family: 'Sarala', sans-serif;
  color: #fff;
  margin-bottom: 0px;
}

.sub_title {
  font-family: 'Arial', sans-serif;
}

.home_main {
  .btn_1 {
    border: 1px solid #fff;
    color: #fff;
  }
    .btn_2 {
      border: 1px solid black;
      color: black;
    }
}

.about_container {
  position: relative;
  top: 73px;
  background-color: #01C8D9;
  margin: 0px;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info_copy {
  font-family: 'Arial';
}

