.nav_bar {
  position: fixed;
  top: .4px;
  width: 100%;
  z-index: 1000;
}

.navbar_brand {
  font-weight: 500;
}

.logged_in_user {
    position: relative;
    top: 12px;
    left: 2.4rem;
    color: grey;
    font-size: 18px;
} 

.alert-container {
  margin-top: 20px;
}

.search_field {
  border-radius: 3px;
  border: solid 1px #f1f1f1;
}